<section>
<div class="container flex justify-center mb-8">
    <div class="form-wrapper">
        <h1 class="mb-4">Login your account</h1>
        <mat-card>
            <mat-card-content>
                <form action="" class="flex flex-col gap-4">
                    <div class="p-4 rounded-lg mb-4 bg-blue-100 text-blue-800">use account admin and password demo to continue</div>
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username"/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="text" formControlName="password"/>
                    </mat-form-field>
                    <button mat-flat-button class="primary" type="submit">Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</section>